@media (min-width: 700px) {
  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
    display: flex;
    justify-content: end;
    height: auto;
    position: relative;
  }

  .nav__list {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
  }

  .nav__item {
    display: inline-block;
    margin-left: 16px;
  }

  .nav__item + .nav__item {
    margin-top: 0;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .hero .row {
    display: flex;
    flex-direction: row;
    align-items: end;
    column-gap: 40px;
    justify-content: space-between;
  }

  .steps .row {
    display: block;
  }

  .hero {
    padding: 80px 0 120px 0;
  }

  .hero__heading {
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
  }

  .hero__cta p {
    font-size: 22px;
    font-weight: 700;
  }

  .hero__cta .btn {
    font-size: 20px;
  }

  .feature + .feature {
    margin-top: 0;
    margin-left: 24px;
  }

  .feature__title {
    font-size: 30px;
    font-weight: 700;
  }

  .feature__content {
    margin-top: 16px;
  }

  .steps__description h2 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
  }

  .step__list {
    display: flex;
    justify-content: space-between;
  }

  .step__item + .step__item {
    margin-top: 0;
    margin-left: 14px;
  }
}

@media (min-width: 1000px) {
  .hero__heading {
    font-size: 90px;
    line-height: 90px;
  }

  .hero__cta p {
    font-size: 24px;
  }

  .hero__cta .btn {
    font-size: 24px;
  }

  .steps .row {
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
  }

  .steps__description p {
    font-size: 21px;
  }

  .step__item h3 {
    font-size: 30px;
    font-weight: 700;
  }

  .step__list {
    margin-top: 0;

    flex-direction: column;
    justify-content: flex-start;
    row-gap: 16px;
  }

  .step__item + .step__item {
    margin-top: 0;
    margin-left: 0;
  }
}
