*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Oswald", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* HEADER */
.header {
  padding: 20px 0;
  background-color: #2e323f;
  text-align: center;
}

.nav {
  width: 100%;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3rem;
  height: 3rem;
  padding: 0em;
  border-radius: 50%;
  background: #3b4050;
  color: white;
  transition: opacity 250ms ease;

  position: absolute;
  left: 0;
  top: -10px;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__list {
  padding: 0;
  text-align: center;
  list-style-type: none;
  margin: 50px 0;
  font-size: 16px;
  font-weight: normal;
}

.nav__item + .nav__item {
  margin-top: 16px;
}

.nav__link {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link--button {
  background: #a59678;
  color: #fff;
  padding: 4px 16px;
  border-radius: 160px;
  height: 30px;
}

.logo {
  height: 30px;
}

/* HERO */
.hero {
  padding: 30px 0 50px 0;
  background-color: #3b4050;
}

.hero .row {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.hero__heading {
  color: #fff;
  font-size: 32px;
  font-size: normal;
}

.text-highlight {
  color: #a59678;
}

.hero__cta p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 25px;
}

.hero__cta .btn {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #a59678;
  padding: 6px 30px;
  border-radius: 160px;
  display: inline-block;
}

/* FEATURES */
.features {
  padding: 40px 0;
  background-color: #f4f4f5;
}

.feature + .feature {
  margin-top: 20px;
}

.feature__title {
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  color: #a59678;
}

.feature__content {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #6f737f;
  text-align: center;
  margin-top: 10px;
}

/* STEPS */
.steps {
  padding: 28px 0;
}

.steps__description h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  color: #a59678;
}

.steps__description p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  color: #6f737f;
}

.steps__description img {
  margin-top: 40px;
}

.step__list {
  margin-top: 54px;
}

.step__item + .step__item {
  margin-top: 20px;
}

.step__item {
  background-color: #3b4050;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.step__item h3 {
  font-size: 25px;
  font-weight: 500;
}

.step__item p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

/* FOOTER */
.footer {
  padding: 65px 0 80px 0;
  background-color: #3b4050;
}

.footer__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
}

.footer__nav-section {
  margin-top: 24px;
}

.footer__subtitle {
  font-size: 21px;
  font-weight: 700;
  color: #a59678;
  margin-bottom: 10px;
  text-wrap: nowrap;
}

.footer__nav {
  list-style-type: none;
}

.about {
  max-width: 40%;
}

.about p,
.footer__link {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}

.footer__link {
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}
