*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Oswald", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

/* HEADER */
.header {
  padding: 20px 0;
  background-color: #2e323f;
  text-align: center;
}

.nav {
  width: 100%;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3rem;
  height: 3rem;
  padding: 0em;
  border-radius: 50%;
  background: #3b4050;
  color: white;
  transition: opacity 250ms ease;

  position: absolute;
  left: 0;
  top: -10px;
}

.nav-toggle:focus,
.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
}

.nav--visible {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__list {
  padding: 0;
  text-align: center;
  list-style-type: none;
  margin: 50px 0;
  font-size: 16px;
  font-weight: normal;
}

.nav__item + .nav__item {
  margin-top: 16px;
}

.nav__link {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__link--button {
  background: #a59678;
  color: #fff;
  padding: 4px 16px;
  border-radius: 160px;
  height: 30px;
}

.logo {
  height: 30px;
}

/* HERO */
.hero {
  padding: 30px 0 50px 0;
  background-color: #3b4050;
}

.hero__text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.hero__text h1 {
  color: #fff;
  font-size: 32px;
}

.text-highlight {
  color: #a59678;
}

.hero__cta p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  padding-bottom: 25px;
}

.hero__cta .btn {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #a59678;
  padding: 6px 30px;
  border-radius: 160px;
  display: inline-block;
}

@media (min-width: 700px) {
  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
    display: flex;
    justify-content: end;
    height: auto;
    position: relative;
  }

  .nav__list {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
  }

  .nav__item {
    display: inline-block;
    margin-left: 16px;
  }

  .nav__item + .nav__item {
    margin-top: 0;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .hero {
    padding: 80px 0 120px 0;
  }

  .hero__text {
    display: flex;
    flex-direction: row;
    align-items: end;
    column-gap: 40px;
    justify-content: space-between;
  }

  .hero__text h1 {
    font-size: 60px;
    line-height: 60px;
  }

  .hero__cta p {
    font-size: 22px;
  }

  .hero__cta .btn {
    font-size: 20px;
  }
}

@media (min-width: 1000px) {
  .hero__text h1 {
    font-size: 90px;
    line-height: 90px;
  }

  .hero__cta p {
    font-size: 24px;
  }

  .hero__cta .btn {
    font-size: 24px;
  }
}
